body {
  background-color:#111111;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) or 16/9*/
  margin-Left: auto;
  margin-Right: auto;
  margin-Top: 3rem;
  margin-Bottom: 3rem;
  background-color: #555555;
}

.card {
  min-width: 400px;
  background-Color: #353535;
  margin-Top: 3rem;
  margin-Bottom: 3rem;
}

.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}

.title {
  font-Size: 24px;
}

.left {
  float: left;
  text-Align: left;
  vertical-Align: middle;
}

.right {
  float: right;
  text-Align: right;
  vertical-Align: middle;
}

.section {
  background-color: #555555;
  margin-top:12px;
  margin-Bottom: 12px;
  padding: 10px;
}

.skeleton {
  margin-Left: 15px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thumbnail {
  /* width: 320px !important;
  height: 180px !important; */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* height: 100%; */
}

/* .Navbar {
  background-color: #555555 !important;
} */

#add-new-tags {
  width: 100%;
}

.navlinks {
    margin-Left: 1rem;
    display: flex;
  }
  
.logo {
    flex-Grow: 1;
    cursor: pointer;
  }
  
.link {
    text-Decoration: none;
    font-Size: 20px;
    margin-Left: 2rem;
    }
    
